*.dll
*.out
*.aux
*.log
*.blg
*.bbl
*.gz
*.csv
*.fld
*.toc
*.pdf
*.png
*.pyc
*.stats
!Latex/figs/*.pdf
!Latex/figs/*.png
!Latex/pdfs/*.pdf
!Literatur/*.pdf
!Daten/mappings.json
!Latex/code/*.json
*backup.zip
Daten/*.txt
Software/site/*
TREND 4.0/*
*.ps
*dvi
*.out.ps
*.lof
*.lot
*.json