*.dll
*.out
*.aux
*.log
*.blg
*.bbl
*.gz
*.fld
*.toc
*.pdf
*.png
*.pyc
*.bkp
*.stats
*.ps
*.dvi
*.out.ps
*.lof
*.lot
*.json
*.zip
*.txt
Daten/*
Software/openfoam
!Software/python/conf_example.json
!Latex/figs/*.pdf
!Latex/figs/*.png
!Notes/img/*.png
!Latex/pdfs/*.pdf
!Literatur/*.pdf