*.dll
*.dtmp
*.out
*.aux
*.avi
*.log
*.blg
*.bbl
*.gz
*.fld
*.bat
*.toc
*.pdf
*.png
*.pyc
*.bkp
*.stats
*.ps
*.gif
*.dvi
*.out.ps
*.lof
*.trn
*.lot
*.zip
*.db
*.txt
*.jou
plots/*
Software/python/bla.py
!Software/ansys/journals/gui_template.jou
!Software/ansys/journals/cmd_template.jou
!Software/ansys/journals/cmd_creation_template.jou
Software/openfoam
.vscode
!Software/ansys/cases/*.cas.gz
!Software/python/*watcher_conf.json
!Latex/figs/*.pdf
!Latex/figs/*.png
!Notes/img/*.png
!Latex/pdfs/*.pdf
!Literatur/*.pdf